.updates {
    width: min(800px, 100%);
    padding-inline: 1em;
    box-sizing: border-box;
    margin-inline: auto;
    margin-top: 6rem;
}

@media (max-width: 640px) {
    .updates {
        font-size: 0.875em;
    }
}