.updates {
    width: min(var(--max-w), 100%);
    padding-inline: 1em;
    box-sizing: border-box;
    margin-inline: auto;
    margin-top: 6rem;
}

@media (max-width: 640px) {
    .updates {
        font-size: 0.75em;
    }
}

.updates__list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text);
    border-radius: .4vw;
    margin-top: 2em;
}

.updates__list div:last-child {
    border: none;
}