.updates {
    width: min(800px, 100%);
    padding-inline: 1em;
    box-sizing: border-box;
    margin-inline: auto;
    margin-top: 6rem;
}

.updates .title {
    color: var(--primary);
    font-size: 2.5em;
}