.projects {
    width: min(var(--max-w), 100%);
    margin-inline: auto;
    margin-top: 6em;
    box-sizing: border-box;
}

.projects .list {
    margin-top: 2em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 2em;

    padding-inline: 1em;
}

.projects .list:hover > * {
    opacity: 0.5;
}

@media (max-width: 640px) {
    .projects {
        font-size: 0.75em;
    }

    .projects .list {
        grid-template-columns: repeat(2, 1fr);
    }
}