.projects-page {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    padding: 0 5rem 5rem;
    margin-top: 6rem;
    margin-inline: auto;
    width: min(800px, 100%);
    box-sizing: border-box;
}

.projects-page .title {
    font-size: 2.5em;
    width: fit-content;
    color: var(--primary);
    align-self: center;
}

.project-list {
    margin-top: 1.75rem;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    margin-inline: auto;
}