.button {
    appearance: none;
    outline: none;
    
    padding-inline: 1em;
    padding-block: 0.75em;
    
    border: 1px solid var(--primary);
    border-radius: 0.375em;
    box-sizing: border-box;

    transition: all .3s ease-out;

    cursor: pointer;

    font-size: 1em;

    display: flex;
    align-items: center;
    line-height: 1;

    background-color: var(--bg);
    color: #000;

    text-decoration: none;
}

.button:active {
    transform: scale(0.95);
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.button--primary {
    --bg: var(--primary);
    --fg: white;
    box-shadow: 0px 0px 0.85em var(--primary);
    font-weight: 500;
}

.button--primary:hover {
   box-shadow: 0px 0px 1.5em var(--primary); 
}

.button--outlined {
    --bg: transparent;
    --fg: var(--primary);
}

.button--outlined:hover {
    --bg: var(--primary);
    --fg: white;
}

.button--text {
    --bg: transparent;
    --fg: transparent;
    border-color: transparent;
    padding: 0;
}