.memories {
    display: flex;
    flex-direction: column;
    padding: 0 5rem 5rem;
    margin-top: 6rem;
    margin-inline: auto;
    width: min(var(--max-w), 100%);
    box-sizing: border-box;
}

.memories .title {
    width: fit-content;
    align-self: center;
}

.memories__list {
    margin-top: 1.75rem;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    margin-inline: auto;
}