.update {
    padding: 1.75em;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    gap: 1.5em;
    align-items: center;

    color: var(--text);
    border-bottom: 1px solid var(--text);
}

.update__content {
    flex: 1;
}

.update__content .title {
    font-size: 1.375em; /* 0.125 + 1.25 */
    font-weight: 500;
    color: var(--primary-light);
}

.update__content .sub-title {
    margin-top: 1em;
    font-size: 0.75em;
    font-weight: 700;

    display: flex;
    gap: 0.75em;
    align-items: center;
}

.update__content .sub-title .time {
    display: flex;
    align-items: center;
    gap: .25em;
}

.update__content .sub-title .time .icon {
    width: 1em;
    stroke-width: 3px;    
}

.update__content .sub-title .separator {
    height: 0.45em;
    width: 0.45em;
    border-radius: 50%;
    background-color: var(--text);
}

.update__action .icon {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
}