.experiences-container {
    background-color: #111; 
    color: white;
    font-size: 1.125rem;

    width: 100%;
    padding: 5rem 1rem;

    box-sizing: border-box;
}

.section-title {
    font-size: 4rem;
    text-align: center;
    color: #FF5500;
}

.work-list {
    margin-top: 4rem;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-inline: auto;

    width: min(500px, 100%);

    box-sizing: border-box;
}

.work-list:nth-child(odd) {
    align-self: flex-end;
}

.work-list:nth-child(even) {
    align-self: flex-start;
}

@media (max-width: 564px) {
    .section-title {
        font-size: 2rem;
    }

    .work-list {
        margin-top: 2rem;
    }
}