.tech-stack-tag {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border-radius: 10rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;

    color: var(--primary);
    border: 2px solid var(--primary);

    font-weight: bold;
    text-transform: capitalize;
}

.tag__icon {
    height: 0.75rem;
    width: 0.75rem;    
}