.tech-stack-tag {
    display: flex;
    align-items: center;
    gap: 0.5em;

    border-radius: .375em;
    padding: 0.25em 0.5em;
    font-size: 0.875em;

    color: var(--text-light);
    background-color: var(--primary);

    font-weight: bold;
    text-transform: capitalize;
}
