.about p {
    margin-inline: 0px;
    margin-block: 0px;
}

.about {
    animation: 1s ease-out showUp;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about .name {
    line-height: 1.25;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
}

.about .position {
    font-weight: bold;
    font-size: 1.125rem;
}

.about__intro p {
    line-height: 1.75;
    color: var(--text);
}

.about__actions {
    display: flex;
    align-items: center;
    gap: 1.75rem;
}

.about__actions .my-links {
    display: flex;
    gap: 1em;
    align-items: center;    
}

.about__actions .my-links a {
    color: var(--primary);
    font-size: 1.25em;

    display: flex;

    opacity: 0;
    animation: .5s ease-out slideRight;
    animation-fill-mode: forwards;
}


.about__actions .my-links .linkedin-button {
    animation-delay: 1s;
}

.about__actions .my-links .github-button {
    animation-delay: 1.5s;
}

.about__actions .my-links .leetcode-button {
    animation-delay: 2s;
}

@keyframes slideRight {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes showUp {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}