.about p {
    margin-inline: 0px;
    margin-block: 0px;
}

.about {
    animation: 1s ease-out showUp;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.about header {
    text-align: center;
}

.about .name {
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
}

.about .position {
    font-weight: bold;
    font-size: 1.125em;
    margin-top: 0.25em;
    color: var(--text);
}

.about__intro .brazil-icon {
    height: 1em;
}

.about__intro p {
    line-height: 1.75;
    color: var(--text);
    text-align: center;
}

.about .email {
    text-align: center;
    color: var(--text);
}

.about .email-highlight {
    border-bottom: 1px solid var(--link-color);
    color: var(--link-color);

    text-align: center;
}

.about__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
}

.about__actions .icon {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    stroke-width: 2;
}

.about__actions .my-links {
    display: flex;
    gap: 1em;
    align-items: center;    
}

.about__actions .my-links a {
    color: var(--primary-light);

    display: flex;

    opacity: 0;
    animation: .5s ease-out slideRight;
    animation-fill-mode: forwards;

    padding: .5em;
    border: 1px solid var(--primary-light);
    border-radius: 50%;
    box-sizing: border-box;
}

.about__actions .my-links a:hover {
    color: #FFF;
    background-color: var(--primary);
}

.about__actions .my-links .linkedin-button {
    animation-delay: 1s;
}

.about__actions .my-links .github-button {
    animation-delay: 1.5s;
}

.about__actions .my-links .leetcode-button {
    animation-delay: 2s;
}

@keyframes slideRight {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes showUp {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .about header {
        text-align: left;
    }

    .about .email {
        text-align: left;
    }

    .about__intro p {
        text-align: left;
    }

    .about__actions {
        flex-direction: row;
    }
}
