.experiences {
    width: min(var(--max-w), 100%);
    margin-inline: auto;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: flex-start;
}

.experiences .header .title {
    width: fit-content;
    text-align: left;
}

.experiences .header .text {
    margin-top: 1em;
    line-height: 1.6;
    color: var(--text);
}

.work-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4em;

    margin-inline: auto;

    width: 100%;

    box-sizing: border-box;

    padding-inline: 1em;
}

.work-list > div:first-child {
    padding-top: 0px;
}

.work-list > div:first-child::before {
    top: 1rem;
}

.work-list > div:last-child {
    padding-bottom: 0px;
}

@media (max-width: 640px) {
    .section-title {
        font-size: 2rem;
    }

    .experiences {
       font-size: 0.75rem;
    }
}