.work-info {
    width: 100%;

    display: flex;
    gap: 2em;

    align-items: flex-start;
}

.work-info__logo {
    width: 5em;
    aspect-ratio: 1;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}

.work-info__content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.work-info__description {
    color: var(--text);
    line-height: 1.5;
    font-size: .875em;
}

.work-info__positions {
    display: flex;
    flex-direction: column;
}