.thumbnail {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
}

.project-image {
    position: absolute;
    inset: 0;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    inset-inline: 0;

    padding: 1rem;
    border-top: 2px solid #888;
    color: white;
    background-color: #000;
    text-decoration: none;
    font-weight: lighter;

    display: flex;
    justify-content: space-between;
    align-items: center;

    display: none;
}

footer a {
    color: white;
    cursor: pointer;
}