.project-dialog {
    width: max(500px, 50vw);

    padding: 1em;

    box-sizing: border-box;

    border: none;
    outline: none;

    border-radius: .4vw;

    color: var(--text);

    background-color: rgba(1 11 38 / 31%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    margin: auto;

    animation: .5s showUp forwards;

    display: none;
    flex-direction: column;
    gap: 1em;
}

.project-dialog[open] {
    display: flex;
}

@media (max-width: 490px) {
    .project-dialog {
        margin-top: auto;
        margin-inline: 1em;
        margin-bottom: 1em;
    }
}

.project-dialog::backdrop {
    opacity: 0.75;

    background-color: #222;

    pointer-events: none;
}

.project-dialog header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-dialog h3 {
    font-size: 1.5em;
    font-weight: 500;
    flex: 1;
    color: var(--primary-light);
}

.project-dialog .close-icon {
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    cursor: pointer;
    color: var(--primary);
}

.separator {
    height: 1px;
    width: 100%;
    background-color: var(--primary-dark);
}

.project-dialog .image-container {
    width: 100%;
    padding: 15% 0;
    height: 0;
    box-sizing: content-box;

    position: relative;

    overflow: hidden;

    border-radius: .4vw;
}

.project-dialog .image-container img {
    position: absolute;
    inset: 0;
    width: 100%;
}

.project-dialog .description {
    font-size: 0.875em;
    line-height: 1.75;
}

.project-dialog .actions {
    display: flex;
    gap: .625em;
    justify-content: flex-end;
}

.project-dialog .actions .icon {
    width: 1.25em;
    height: 1.25em;
    margin-left: .5em;
    margin-top: -2px;
    stroke-width: 2;
}

@keyframes showUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}