.select-wrapper {
    appearance: none;
    background-color: transparent;
    outline: none;
    border: none;

    padding: .5em;

    display: flex;
    align-items: center;
    gap: 1em;

    position: relative;

    border: 1px solid var(--primary);
    border-radius: .4vw;

    font-size: 1em;
}

.select-wrapper .icon {
    width: 1em;
}

.language-selected {
    color: var(--text);

    display: flex;
    align-items: center;
    gap: .5em;

    line-height: 1;

    user-select: none;
    -webkit-user-select: none;
}

.language-selected__caption {
    display: none;
    font-size: .875em;
}

@media (min-width: 540px) {
    .language-selected__caption {
        display: block;
    }
}

.close-button:hover .close-icon {
    color: var(--text);
}

.language-options {
    top: calc(100% + .5em);
    left: 0;

    background-color: grey;
    color: var(--text);

    border: .5px solid grey;

    position: absolute;

    display: none;
    gap: .5px;
    align-items: center;
    flex-direction: column;
}

.language-options[data-visible=true] {
    display: flex;
}

.language-option {
    width: 100%;
    padding: .5em;

    display: flex;
    gap: .5em;
    align-items: center;

    color: var(--text);
    background-color: var(--main-bg);

    cursor: pointer;

    line-height: 1;

    box-sizing: border-box;
}

.language-option p {
    font-size: .875em;
}

.language-option:hover {
    background-color: var(--main-bg-light);
}