.position-info {
    padding: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    border-left: 1px solid var(--primary-dark);

    position: relative;

    max-width: 768px;
}

.position-info::before {
    --size: .75em;

    content: "";

    position: absolute;

    top: calc(2em + (var(--size) / 2));
    left: calc((var(--size) / 2) * -1);

    height: var(--size);
    width: var(--size);
    border-radius: 100%;

    background-color: var(--primary);
}

.position-info__description {
    color: var(--text);
    font-size: 1em;
    line-height: 1.8;
}

@media (max-width: 564px) {
    .position-info__description {
        font-size: .875em;
    }
}