.card-container {
    width: 250px;
    height: 250px;
    border-radius: 1.75rem;
    border: 2px solid #888888;    

    overflow: hidden;

    z-index: 1;

    position: relative;
}

.card-container footer {
    position: absolute;
    bottom: 0;
    inset-inline: 0;

    padding: 1rem;
    border-top: 2px solid #888;
    color: white;
    background-color: #000;
    text-decoration: none;
    font-weight: lighter;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container footer a {
    color: white;
    cursor: pointer;
}

.card-container .project-image {
    position: absolute;
    inset: 0;
    height: 250px;
    object-fit: cover;
    object-position: top;
}
