.home {
    font-size: 1em;

    width: min(var(--max-w), 100%);
    
    margin-inline: auto;
    padding-bottom: 6em;
    padding-top: 4em;
    padding-inline: 1em;

    box-sizing: border-box;

    display: grid;
    place-items: center;
}

@media (max-width: 564px) {
    .home {
        padding-bottom: 4rem;
    }
}

@media (max-width: 768px) {
    .home {
        padding-top: 0;
    }
}

@media (max-width: 640px) {
    .home {
        font-size: 0.875em;
    }
}

.home__presentation {
    width: 100%;

    display: flex;
    gap: 3em;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1280px) {
    .home__presentation {
        justify-content: space-between;
    }
}

.profile-container {
    flex: 1;

    display: grid;
    place-items: center;
}

.profile-photo {
    margin-block: auto;

    width: 17.5rem;
    max-width: 500px;

    object-fit: cover;

    aspect-ratio: 1;
}

@media (min-width: 768px) {
    .home__presentation {
        flex-direction: row;
    }

    .profile-photo {
        width: 100%;
    }
}
