.home {
    color: white;
    font-size: 1rem;
    line-height: 1.5;

    width: min(860px, 100%);
    
    margin-inline: auto;
    padding-block: 6rem;
    padding-inline: 1em;

    box-sizing: border-box;

    display: grid;
    place-items: center;
}

.home__container {
    width: min(100%, 1280px);
}

.home__presentation {
    width: 100%;

    display: flex;
    gap: 3rem;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.profile-photo {
    width: 15rem;

    object-fit: cover;

    border-radius: 50%;
    aspect-ratio: 1;

    animation: 1s glow forwards;
    animation-delay: 1s;
}

@keyframes glow {
    from {
        box-shadow: 0px 0px 0px var(--primary);
    }
    to {
        box-shadow: 0px 0px 150px var(--primary);
    }
}

@media (min-width: 768px) {
    .home__presentation {
        flex-direction: row;
        gap: 6rem;
    }
}

@media (max-width: 564px) {
    .home {
        padding-block: 4rem;
    }
}