.overlay {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;
}

.detailed-card {
    width: 300px;
    height: max-content;
    border-radius: 1.75rem;
    border: 2px solid #888888;    

    overflow: hidden;

    transform-origin: 50% 50%;

    position: inherit;
    opacity: 0;
    z-index: 0;
}

.detailed-card .project-image {
    background-color: white;
    object-fit: cover;
    max-height: 300px;
}

.project-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-description {
    display: none;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
}

.detailed-card .tech-stack {
    display: flex;
    gap: .5rem;
}

.detailed-card footer {
    padding: 1rem;
    border-top: 2px solid #888;
    color: white;
    background-color: #000;
    text-decoration: none;
    font-weight: lighter;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detailed-card footer a {
    color: white;
    cursor: pointer;
}
