* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;

    --primary-light: #FF8C00;
    --primary: #FF5500;
    --primary-dark: #C44405;
    --text: #EEE;
    --bg: #010C2A;
}

.light-theme {
    --primary: #FF7300;
    --primary-dark: #FF5500;
    --text: #FFFFEE;
    --bg: #3EC2FF;
}

p::selection {
    background-color: var(--primary);
}

body {
    background: var(--bg);
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}
.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}