* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;

    --primary-light: #FF6B20;
    --primary: #FF5500;
    --primary-dark: #C44405;

    --text: #EEE;
    --text-dark: #BBB;

    --bg: #010A23;
    --main-bg: linear-gradient(#292F55, #010C2A 50%);

    --max-w: 1056px;
}

.light-theme {
    --primary: #FF7300;
    --primary-dark: #FF5500;
    --text: #FFFFEE;
    --bg: #3EC2FF;
}

p::selection {
    background-color: var(--primary-light);
}

h1 {
    line-height: 1;
    font-size: 3em;
    font-weight: bold;
    color: var(--primary-light);
}

h2 {
    line-height: 1.25;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--primary-light);
}

body {
    background: var(--main-bg);
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}
.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}