* {
    padding: 0;
    margin: 0;
    font-family: "Bitter", serif;

    --primary-light: #FF6B20;
    --primary: #FF5500;
    --primary-dark: #C44405;

    --text-light: #FFF;
    --text: #EEE;
    --text-dark: #BBB;

    --main-bg-light: #151E40;
    --main-bg: #010B26;
    --main-bg-dark: #010920;

    --max-w: 1056px;
}

@font-face {
    font-family: "Space Mono";
    src: url("./assets/fonts/SpaceMono/SpaceMono-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("./assets/fonts/SpaceMono/SpaceMono-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("./assets/fonts/SpaceMono/SpaceMono-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url("./assets/fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Bitter';
    src: local("Bitter"),
         url("./assets/fonts/Bitter/Bitter-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: 50% 100%;
}

.light-theme {
    --primary: #FF7300;
    --primary-dark: #FF5500;
    --text: #FFFFEE;
    --bg: #3EC2FF;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
span::selection {
    background-color: var(--primary-light);
}

h1, h2, h3, h4 {
    line-height: 1.15;
    font-weight: 500;
    font-family: 'Space Mono', sans-serif;
    color: var(--primary-light);
    margin-left: -2px;
}

h1 {
    font-size: 3em;
    color: var(--primary-light);
}

h2 {
    font-size: 2.5em;
    padding-block: .75em;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--main-bg);
    z-index: 10;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

body {
    background: var(--main-bg);
}
